@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Components.Web

@namespace CSharpExcelFunctions.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var isExcel = HttpContextAccessor!.HttpContext!.Request.Path.ToString().Contains("excel/taskpane");
}

@if (isExcel)
{
    <script src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="~/excel/taskpane.css" rel="stylesheet" />
    <script defer="defer" src="~/excel/functions"></script>
    <script defer="defer" src="~/excel/taskpane.js"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="CSharpExcelFunctions.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
